__pycache__/
*.pyc
.env
tts/
# Secrets
.env
agent/config
.DS_Store
dist/
build/
.build/
rust/
instruction.txt
target/
.vscode/
# Xcode/Swift build artifacts
*.d
*.dia
*.swiftdeps
*.swiftmodule
*.swiftdoc
*.o
*.ll
*.bc
.build/
DerivedData/