langchain-ollama
langchain-openai
langchain-anthropic
langchain-core
langchain-community
gspread
fastapi
uvicorn
pydantic
pytesseract
fitz
python-docx
pandas
python-pptx
pymupdf
nest-asyncio
mcp
langchain-mcp-adapters